body {
            margin: 0;
            overflow: hidden;
            background: #87CEEB;
            
}
canvas {
            display: block;
            margin: auto;
            background: #cceeff;
            z-index: 1;
}

#playAgainBtn {
            position: absolute;
            top: 60%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 10px 20px;
            font-size: 18px;
            cursor: pointer;
                z-index: 2;
}

